@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a:link {
    text-decoration: none;
}

nav {
    background: #242526;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}

nav .wrapper {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a.globe_container {
    color: #FFF;
    text-decoration: none;
    padding: 9px 15px;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .drop_sets, .nav-links .drop_food, .nav-links .drop_beverages, .nav-links .drop_languages {
    background: #242526;
    width: 200px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-links .mobile_item {
    display: none;
}

.nav-links li:hover .drop_sets, .nav-links li:hover .drop_food, .nav-links li:hover .drop_beverages, .nav-links li:hover .drop_languages {
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop_sets li a, .drop_food li a, .drop_beverages li a, .drop_languages li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 200;
    border-radius: 0px;
}

.wrapper .btn {
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.cancel_btn {
    position: absolute;
    right: 30px;
    top: 23px;
}

.wrapper input {
    display: none;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    padding: 30px;
    scroll-margin-top: 120px;
}
h2 {
    font-size: 25px;
    font-weight: 300;
    padding: 10px 0 30px 0;
}
h3 {
    font-size: 22px;
    font-weight: 300;
}

.introduction {
    padding: 90px 30px 0;
    max-width: 1200px;
    font-size: 25px;
    font-weight: 100;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.align-center {
    text-align: center;
    scroll-margin-top: 75px;
}
h1.align-center {
    scroll-margin-top: 100px;
}

.paragraph_padding {
    padding: 5px 0px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    scroll-margin-top: 3rem;
}
.container .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}
.container .products_container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #F2F2F2;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    outline: .1rem solid #CCC;
    outline-offset: -1rem;
    cursor: pointer;
    transition: all .5s;
}
.container .products_container .product:hover {
    outline: .15rem solid #999;
    outline-offset: 0.01rem;
}
.container .products_container .product img {
    height: 15rem;
    transition: all .5s;
}
.container .products_container .product:hover img {
    transform: scale(.9);
}
.container .products_container .product h3 {
    transition: all .5s;
}
.container .products_container .product:hover h3 {
    color: #c97ae2;
}
.container .products_container .product .price {
    transition: all .5s;
    font-size: 20px;
}
.container .products_container .product:hover .price {
    color: #c97ae2;
}

.product_preview_set {
    position: fixed;
    top: 65px; left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}
.product_preview_set .preview {
    display: none;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    text-align: center;
    background: #FFF;
    position: relative;
    margin: 2.5rem;
    width: 40rem;
    top: -50px;
}
.product_preview_set .preview.active {
    display: block;
}
.product_preview_set .preview img {
    height: 15rem;
}
.product_preview_set .preview .fa-times {
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 2.5rem;
    transition: all .5s;
}
.product_preview_set .preview .fa-times:hover {
    opacity: 80%;
    transform: scale(0.9);
}
.product_preview_set .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2rem;
}
.product_preview_set .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #777;
}
.product_preview_set .preview .header {
    padding: 0.5rem 0;
    font-size: 20px;
}
.product_preview_set .preview .price {
    padding: 0.5rem 0;
    font-size: 25px;
}
.product_preview_set .preview .preview_scroll {
    overflow-y: auto;
    max-height: 25vh;
    padding: 5px;
}
.product_preview_set .preview .preview_scroll::-webkit-scrollbar {
    width: 0px;
}
.globe_icon {
    height: 25px;
    padding-top: 10px;
}
.globe_icon_mobile {
    position: absolute;
    height: 20px;
    top: 23px;
    left: 40px;
}
.drop_language_mobile_container {
    position: absolute;
    left: 40px;
    top: 60px;
    background-color: #3A3B3C;
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    display: none;
    transition: all 0.3s;
}
#showLanguages:checked ~ .drop_language_mobile_container {
    display: block;
    opacity: 1;
    transition: all 0.3s;
}
.customizationDiv, .beveragesDiv, .setDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.beveragesDiv div p, .setDiv div p {
    width: 20rem;
    height: 3.5rem;
    text-align: left;
    cursor: pointer;
}
.beveragesDiv div button, .setDiv div button {
    background: #efefef;
    border-radius: 3px;
    border: 1px #767676;
}
.beveragesDiv .beverages img, .setDiv .sets img {
    height: 50px;
    cursor: pointer;
}
.beveragesDiv div, .setDiv div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1.5rem;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s;
    border-radius: 8px;
    width: 31rem;
    cursor: pointer;
}
.customizationDiv div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1.5rem;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s;
    border-radius: 8px;
    transition: all 1s;
}
.beveragesDiv .ice_customisation {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1.5rem;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s;
    border-radius: 8px;
    transition: all 1s;
    cursor: revert;
}
.customizationDiv h2, .beveragesDiv h2, .setDiv h2 {
    padding: 0;
}
.customizationDiv div p {
    width: 10rem;
    height: 4rem;
    text-align: start;
}
.beveragesDiv .ice_customisation p {
    padding-left: 1rem;
    width: 5rem;
    height: 4rem;
    text-align: start;
    cursor: revert;
}
.beveragesDiv .sweetness_customisation p {
    padding-left: 1rem;
    width: 10.5rem;
    height: 4rem;
    text-align: start;
    cursor: revert;
}
.customizationDiv div button, .beveragesDiv .ice_customisation button, .beveragesDiv .sweetness_customisation button {
    width: 4.5rem;
    height: 2rem;
    font-size: 10px;
    cursor: pointer;
}
.beveragesDiv h4, .setDiv h4 {
    font-size: 23px;
    font-weight: 250;
    padding: 0.5rem 0.5rem 0rem;
}

.cart_div {
    position: fixed;
    width: 60px;
    height: 60px;
    background: #777;
    opacity: 70%;
    border: 3px solid #222;
    border-radius: 30px;
    bottom: 120px;
    right: 50px;
    text-align: center;
    font-size: 30px;
    color: #F2F2F2;
    padding-top: 12.5px;
}
.cart_div p {
    position: relative;
    font-size: 16px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #f51212;
    text-align: center;
    align-items: center;
    left: -5px;
}
.scrollToTop {
    position: fixed;
    width: 60px;
    height: 60px;
    background: #777;
    opacity: 70%;
    border: 3px solid #222;
    border-radius: 30px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    font-size: 30px;
    color: #F2F2F2;
    padding-top: 12.5px;
}
.add_to_cart_btn {
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    margin-top: 1rem;
}
.doubleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.doubleDiv label {
    position: relative;
    color: #777;
    font-size: 25px;
    border: 2px solid #767676;
    border-radius: 5px;
    width: 12rem;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    background: #fff;
}
.doubleDiv input[type="radio"] {
    display: none;
}

.allCheckBoxesCustomization, .allBeveragesCustomization, .allDaySetOption {
    display: none;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background: #242526;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
    }

    #menu_btn:checked ~ .nav-links {
        left: 0%;
    }

    #menu_btn:checked ~ .btn.menu_btn {
        display: none;
    }

    .nav-links::-webkit-scrollbar {
        width: 0px;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop_beverages, .nav-links .drop_sets, .nav-links .drop_food {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }

    #showSets:checked ~ .drop_sets, #showFood:checked ~ .drop_food, #showBeverages:checked ~ .drop_beverages {
        max-height: 100%;
        transition: all 2s ease;
    }

    #showSets:checked ~ .mobile_item.sets span, #showFood:checked ~ .mobile_item.food span, #showBeverages:checked ~ .mobile_item.beverages span {
        transform: rotate(90deg);
        transform-origin: 15% 50%;
        transition: all 0.3s;
    }

    #showSets:not(:checked) ~ .drop_sets, #showFood:not(:checked) ~ .drop_food, #showBeverages:not(:checked) ~ .drop_beverages {
        max-height: 0px;
        transition: all 0.8s ease;
    }

    #showSets:not(:checked) ~ .mobile_item.sets span, #showFood:not(:checked) ~ .mobile_item.food span, #showBeverages:not(:checked) ~ .mobile_item.beverages span {
        transform: rotate(0deg);
        transform-origin: 25% 50%;
        transition: all 0.3s;
    }

    .nav-links .drop_sets li, .nav-links .drop_food li, .nav-links .drop_beverages li {
        margin: 0;
    }

    .nav-links .drop_sets li a, .nav-links .drop_food li a, .nav-links .drop_beverages li a {
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-links span {
        float: right;
        line-height: 50px;
        padding-right: 15px;
    }

    .nav-links .desktop_item {
        display: none;
    }

    .nav-links .mobile_item {
        display: block;
        font-size: 20px;
        color: #F2F2F2;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile_item:hover {
        background: #242526;
    }
}

@media (max-width: 970px) {
    html {
        font-size: 70%;
    }
    .beveragesDiv .beverages img {
        height: 40px;
    }
    .doubleDiv label {
        font-size: 18px;
    }
    .add_to_cart_btn {
        font-size: 12px;
    }
}